@tailwind base;
@tailwind components;
@tailwind utilities;

.listSearch {
  height: max-content;
}

@media screen and (max-width: 768px) {
  .navBar {
    background: #faf9f5;
    position: absolute;
    height: max-content;
    padding: 1rem;
    width: 90%;
    border-radius: 1rem;
    margin: 0.1rem 5%;
    top: 3rem;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease-in-out;
    z-index: 1000;
  }
  .navlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 1rem;
    font-size: small;
    font-weight: 600;
  }
  .closeBar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #f07857;
  }
  .activeNavBar {
    left: 0;
  }
  .imageBg {
    position: relative;
  }
  .heroSection {
    display: flex;
    position: absolute;
    width: 80%;
    bottom: -13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  .cardReservation {
    position: relative;
  }
  .bookNow {
    margin: 1rem;
  }
  .faBed {
    right: 1rem;
    bottom: 0.5rem;
  }

  .futured {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .featuredImage {
    margin: 0 2rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .FooterContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FooterPayement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FooterPayement p {
    align-items: center;
  }
  .FooterSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FooterSocial p {
    text-align: center;
  }
}
